.wrapper{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 0.25fr 0.25fr;
    font-family: Sans ;
    font-size: 16px;
    background-color: #9068be;
    color: #e1e8f0;
}

.wrapper .header_container{
    grid-column:  1/span 2;
    background-color:#6ed3cf;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 1em;
    padding-bottom: 4em;
}


.items{
    text-align: center;
    border: 1px solid;
    padding: 18px 4em;
    font-family: Helvetica;
    font-style: italic;
    font-size: 18px;
    color: #e1e8f0;
}


.contact{
    background: gainsboro;
    padding-right: 15px;
    padding-left: 10px;
    margin-left: 65px;
    margin-right: 25px;
    word-wrap: break-word;
    background-color: #e1e8f0;
    color: #9068be;
}


.wrapper img{
    border-radius: 50%;
    padding-top: 15px;
    padding-right: 15px;
    max-width: 100%;
    height: inherit;
}


.details{
    padding-bottom: 50px;
    border-bottom: 4px solid;
    list-style-type: none;
    margin: 0;
}

.detailsSocial{
    padding-bottom: 50px;
    list-style-type: none;
}


.bio p{
    box-sizing: border-box;
    height: 200px;
    width: 900px;
    padding: 10px;
    border-bottom: 2px solid gainsboro;
}

.bio{
    margin-right: 1em;
    padding-bottom: 2em;
    padding-right: 5em;
}

ul.details li, ul.detailsSocial li{
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 20px;
    background-size: 10%;
}


.phone {
    background: url("./img/phone.png") no-repeat left;
    
}

.email{
    background: url("./img/email.png") no-repeat left top;
}

.site{
    background: url("./img/site.png") no-repeat left top;
}

.fb{
    background: url("./img/fb.png") no-repeat left top;
}

.twitter{
    background: url("./img/twitter.png") no-repeat left top;
}

.linkedin{
    background: url("./img/linkedin.png") no-repeat left top;
}

.insta{
    background: url("./img/insta.png") no-repeat left top;
}

.workDet, .eduDet{
    display: flex;
    flex-direction: row;
}

.workxp, .edu{
    border-bottom: 2px solid gainsboro;
    padding-bottom: 30px;
    width: 900px;
}
.left-col{
    width: 300px;
}

.right-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    width: 500px;
}

.skillList{
    columns: 2;
    margin-left: 30px;
    padding-right: 200px;
    
}

